/* 화면에 안보이게 하되 스크린리더에는 읽히게하는 속성 */
@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 18px;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

:root {
  --maincolor: #21bf48;
}

.hide {
  display: none;
}
/* header */
.header_content {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 5px #0000001a;
  align-items: center;
  padding: 26px 320px;
}

.header_contet_left {
  display: flex;
  gap: 30px;
}

.header_content .search {
  position: relative;
}
.header_content .search input {
  width: 400px;
  height: 46px;
  border-radius: 50px;
  background-color: white;
  border: 2px solid var(--maincolor);
  color: #767676;
  font-family: "SpoqaHanSansNeo-Regular";
  font-weight: 400;
  font-size: 16px;
  padding: 22px;
}

.search-icon {
  background-image: url(/assets/search.png);
  width: 28px;
  height: 28px;
  position: absolute;
  top: 9px;
  right: 22px;
}

.header_content .logo {
  display: flex;
  background-image: url(/assets/Logo-hodu.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 124px;
  height: 38px;
}

.header_content .user_menu {
  display: flex;
  gap: 26px;
  align-items: center;
}
.header_content .user_menu li a img:nth-child(1) {
  width: 26.67px;
  height: 17.78px;
}
.header_content .user_menu li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: #767676;
  line-height: 14px;
}
/* header 종료 */

/* footer 시작 */

.footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 200px;
}
footer .footer_top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer_top .info {
  display: flex;
  font-weight: 400;
  line-height: 17.53px;
  font-size: 14px;
  color: black;
  font-family: "SpoqaHanSansNeo-Regular";
}
.footer_top .info li strong {
  font-weight: 700;
}

.footer_top .info > li:not(:first-child)::before {
  content: " | ";
  margin: 14px;
}
.footer_top .sns_icon {
  display: flex;
  list-style: none;
  gap: 14px;
}
.footer_top .insta {
  background: url(/assets/icon-insta.svg);
  width: 32px;
  height: 32px;
  display: block;
}
.footer_top .facebook {
  background: url(/assets/icon-fb.svg);
  width: 32px;
  height: 32px;
  display: block;
}
.footer_top .youtube {
  background: url(/assets/icon-yt.svg);
  width: 32px;
  height: 32px;
  display: block;
}

footer .line {
  height: 1px;
  background-color: #c4c4c4;
  margin: 22px 0 30px;
}

footer address ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #767676;
  font: optional;
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
footer address ul li span {
  font-weight: 700;
  color: #4f4f4f;
}
/* footer 종료 */
