/* 회원가입 페이지 스타일 시작 */
header a {
  display: flex;
  background-image: url(../assets/Logo-hodu.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 238px;
  height: 74px;
  margin: 106px auto 130px;
}
.tablist {
  display: table;
  margin: auto;
  position: relative;
  width: 550px;
}
.tablist li {
  display: table-cell;
  border: 1px solid #c4c4c4;
  padding: 20px 77px 38px;
  border-radius: 10px 10px 0 0;
  font-family: "SpoqaHanSansNeo-Regular";
  font-weight: 500;
  line-height: 22px;
  font-size: 18px;
}
.buyer_login {
  position: absolute;
  left: 0px;
  top: -60px;
}
.seller_login {
  position: absolute;
  right: 0px;
  top: -60px;
}

.numInput {
  width: 152px;
}

.join_tablist {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 550px;
  position: relative;
}
.join_tablist li {
  border: 1px solid #c4c4c4;
  padding: 20px 87px 38px 88px;
  border-radius: 10px 10px 0 0;
  font-family: "SpoqaHanSansNeo-Regular";
  font-weight: 500;
  line-height: 22px;
  font-size: 18px;
  text-align: center;
}
.join_tablist .buyer_join {
  left: 0px;
  top: -60px;
  position: absolute;
}
.join_tablist .seller_join {
  position: absolute;
  right: 0px;
  top: -60px;
}
.btn_on {
  background-color: white;
  z-index: 5;
}

.btn_off {
  background-color: #f2f2f2;
  z-index: 0;
}
.join_white_box {
  width: 274px;
  height: 7px;
  background-color: white;
  position: absolute;
  left: 1px;

  z-index: 15;
}
.join_white_box_R {
  width: 274px;
  height: 7px;
  background-color: white;
  position: absolute;
  right: 1px;
  z-index: 15;
}
.join_box {
  position: relative;

  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 34px 35px 36px 35px;
  z-index: 10;
  background-color: white;
  max-width: 550px;
  margin: 0 auto 30px;
  align-items: center;
}
label {
  margin-bottom: 10px;
  font-family: "SpoqaHanSansNeo-Regular";
  color: #767676;
  font-weight: 400;
}
.join_box input {
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  height: 54px;
  padding-left: 16px;
  font-family: "SpoqaHanSansNeo-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 20.03px;
}
.join_box .join_id {
  width: 346px;
  margin-bottom: 12px;
}
.join_box .join_pw,
.join_box .join_pwConfirm,
.join_box .join_name {
  width: 480px;
  height: 54px;
}
.join_business {
  width: 350px;
}
.confirmCircle_pw {
  background-image: url(../assets/icon-check-off.svg);
  width: 28px;
  height: 28px;
  background-size: cover;
  position: absolute;
  right: 16px;
  top: 40px;
}

.confirmCircle_pwC {
  background-image: url(../assets/icon-check-off.svg);
  width: 28px;
  height: 28px;
  background-size: cover;
  position: absolute;
  right: 16px;
  top: 40px;
}
.confirmCircle_pwC_on {
  background-image: url(../assets/icon-check-on.svg);
  width: 28px;
  height: 28px;
  background-size: cover;
  position: absolute;
  right: 16px;
  top: 40px;
}
.confirmCircle_pw_on {
  background-image: url(../assets/icon-check-on.svg);
  width: 28px;
  height: 28px;
  background-size: cover;
  position: absolute;
  right: 16px;
  top: 40px;
}
.join_box .join_pw {
  margin-bottom: 12px;
  position: relative;
}

.join_box .join_pw {
  margin-bottom: 12px;
}

.idForm {
  display: flex;
  gap: 10px;
  align-items: center;
  position: relative;
}
.businessForm {
  display: flex;
  gap: 10px;
  align-items: end;
  position: relative;
}
.pwForm {
  display: flex;
  flex-direction: column;
  position: relative;
}
.storeForm {
  display: flex;
  flex-direction: column;
  position: relative;
}
.nameForm {
  display: flex;
  flex-direction: column;
  position: relative;
}
.numberForm {
  display: flex;
  flex-direction: column;
}
.idAlign {
  display: flex;
  flex-direction: column;
}
.businessFormAlign {
  display: flex;
  flex-direction: column;
}

.idMessage,
.pwMessage,
.pwcMessage,
.nameMessage,
.numberMessage,
.businessMessage,
.storeMessage {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20.03px;
  font-weight: 400;
  display: block;
}
.storeMessage {
  margin: 10px 0 20px;
}
.businessMessage {
  margin: 10px 0 20px;
}
.numberMessage {
  margin: 10px 0 20px;
}
.pwcMessage {
  margin: 10px 0 20px;
}
.nameMessage {
  margin: 10px 0 20px;
}
select {
  width: 152px;
  height: 54px;
  border-radius: 5px;
  border: 1px solid #c4c4c4;
  text-align: center;
}
.phonNumber {
  display: flex;
  gap: 12px;
}
.checkId {
  background-color: var(--maincolor);
  color: white;
  font-size: 16px;
  line-height: 20.03px;
  width: 122px;
  height: 54px;
  border-radius: 5px;
  margin-top: 15px;
}
.checkBusinessNumber {
  background-color: var(--maincolor);
  color: white;
  font-size: 16px;
  line-height: 20.03px;
  width: 122px;
  height: 54px;
  border-radius: 5px;
  margin-top: 15px;
}

.btn_login {
  width: 480px;
  height: 60px;
  border-radius: 5px;
  background-color: var(--maincolor);
  color: white;
  text-align: center;
  font-weight: 700;
}

.join_warp {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.03px;
  font-family: "SpoqaHanSansNeo-Regular";
}

.join_warp li:nth-child(1) a:after {
  content: "|";
  margin: auto 14px;
}
.agreeArea {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: "SpoqaHanSansNeo-Regular";
  font-weight: 400;
  color: #767676;
  font-size: 16px;
  max-width: 550px;
  position: relative;
}

.agreeCheck {
  display: flex;
  align-items: center;
  line-height: 20.03px;
}

.agreeCheck label {
  line-height: 20.03px;
}

.agreeArea #check_agree {
  display: none;
}

.agreeArea #check_agree + label {
  cursor: pointer;
}

.agreeArea #check_agree + label > span {
  vertical-align: middle;
  padding-left: 5px;
}

.agreeArea #check_agree + label:before {
  content: "";
  background-image: url(../assets/check-box.svg);
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 10px;
}

.agreeArea #check_agree:checked + label::before {
  content: "";
  background-image: url(../assets/check-fill-box.svg);
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 10px;
}

.agreeCheck .strong {
  font-weight: 700;
  text-decoration: underline;
  line-height: 20.03px;
}

.joinBtn {
  margin-top: 34px;
  background-color: #c4c4c4;
  max-width: 550px;
  color: white;
  padding: 19px 207px;
  border-radius: 10px;
}
