header a {
  display: flex;
  background-image: url(/assets/Logo-hodu.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 238px;
  height: 74px;
  margin: 106px auto 130px;
}
.tablist {
  display: table;
  margin: auto;
  position: relative;
  width: 550px;
}
.tablist li {
  display: table-cell;
  border: 1px solid #c4c4c4;
  padding: 20px 77px 38px;
  border-radius: 10px 10px 0 0;
  font-family: "SpoqaHanSansNeo-Regular";
  font-weight: 500;
  line-height: 22px;
  font-size: 18px;
}
.buyer_login {
  position: absolute;
  left: 0px;
  top: -60px;
}
.seller_login {
  position: absolute;
  right: 0px;
  top: -60px;
}

.btn_on {
  background-color: white;
  z-index: 5;
}

.btn_off {
  background-color: #f2f2f2;
  z-index: 0;
}
.white_box {
  width: 273px;
  height: 10px;
  background-color: white;
  position: absolute;
  left: 1px;
  top: -3px;
  z-index: 15;
}
.white_box_R {
  width: 272.5px;
  height: 10px;
  background-color: white;
  position: absolute;
  right: 1px;
  top: -3px;
  z-index: 15;
}
.login_box {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 34px 35px 36px 35px;
  z-index: 10;
  background-color: white;
  max-width: 550px;
  margin: auto;
  align-items: center;
}

.login_box input:nth-child(1) {
  margin-bottom: 6px;
}
.login_box input:nth-child(2) {
  margin-bottom: 36px;
}

.login_box input {
  width: 480px;
  height: 60px;
  border-bottom: 1px solid #c4c4c4;
}
.btn_login {
  width: 480px;
  height: 60px;
  border-radius: 5px;
  background-color: var(--maincolor);
  color: white;
  text-align: center;
  font-weight: 700;
}
.btn_login:active {
  background-color: green;
}

.join_warp {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20.03px;
  font-family: "SpoqaHanSansNeo-Regular";
}

.join_warp li:nth-child(1) a:after {
  content: "|";
  margin: auto 14px;
}

.loginerror {
  font-family: "SpoqaHanSansNeo-Regular";
}

.border_red {
  border: 2px solid #eb5757;
  border-bottom: 2px solid;
}
