.dashbord_text {
  font-size: 24px;
  font-weight: 700;
  line-height: 44px;
}
.dashbord_text span {
  color: var(--maincolor);
  font-weight: 500;
}
.seller_text {
  font-weight: 700;
}
.dashbord_align {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.upload_btn {
  background-color: var(--maincolor);
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 10px;
  white-space: nowrap;
}

.upload_btn img {
  display: none;
}

nav ul {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
}

nav ul li button {
  text-align: center;
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  font-size: 12px;
  background-color: white;
}
nav ul li:nth-child(1) button {
  background-color: var(--maincolor);
  color: white;
}
nav ul li button:active {
  background-color: var(--maincolor);
  color: white;
}
nav ul li button:hover {
  background-color: #effff3;
}

main {
  margin-top: 50px;
  padding: 0px 20px;
}
.item_list_area {
  border: 1px solid #c4c4c4;
  width: 100%;
}
.seller_center_main_content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.no_item {
  text-align: center;
  margin-top: 100px;
}
.info_text {
  display: none;
}
.info_title_area {
  border-bottom: 1px solid #c4c4c4;
  background-color: white;
}

.image {
  width: 100px;
  height: 100px;
  background-color: #c4c4c4;
}

.product_info_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.product_info_text li:nth-child(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product_info_text li p:nth-child(1) {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}
.product_info_text li p:nth-child(2) {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #767676;
  word-break: break-all;
}

.item {
  display: flex;
  flex-direction: column;
  padding: 20px 30px;
  background-color: white;
  border-bottom: 1px solid #c4c4c4;
}

.edit_area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.edit_area li:nth-child(1) {
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  color: tomato;
}

.edit_area button {
  padding: 10px 10px;
  border-radius: 5px;
}

.edit_item {
  background-color: var(--maincolor);
  color: white;
}

.dashbord_align {
  margin-bottom: 32px;
}
.upload_btn img {
  display: none;
  width: 30px;
  height: 30px;
}
.upload_btn {
  font-size: 12px;
  padding: 10px 15px;
}

button {
  cursor: pointer;
}

@media screen and (min-width: 764px) {
  nav ul {
    flex-direction: column;
  }

  nav ul li button {
    max-width: 250px;
    width: 250px;
    padding-left: 20px;
    font-size: 16px;
    text-align: left;
  }

  .seller_center_main_content {
    flex-direction: row;
  }

  .info_text {
    display: flex;
    align-items: center;
    padding: 20px 37px;
    font-size: 18px;
    font-weight: 400;
  }
  .info_text li:nth-child(1) {
    flex: 0 1 1230px;
    text-align: center;
  }
  .info_text li:nth-child(2) {
    flex: 0 1 100px;
    text-align: center;
  }
  .info_text li:nth-child(3) {
    flex: 0 1 100px;
    text-align: center;
  }
  .info_text li:nth-child(4) {
    flex: 0 1 100px;
    text-align: center;
  }

  .item {
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }

  .image {
    flex-shrink: 0;
  }

  .product_info_text {
    flex: 1;
  }

  .edit_area {
    text-align: center;
    margin-top: 0;
  }

  .dashbord_text {
    font-size: 36px;
  }
  .dashbord_align {
    margin-bottom: 42px;
  }
  .upload_btn img {
    display: block;
    width: 30px;
    height: 30px;
  }
  .upload_btn {
    font-size: 16px;
    padding: 10px 15px;
  }
  .image {
    width: 100px;
    height: 100px;
    background-color: #c4c4c4;
    border-radius: 50%;
  }

  .product_info_text {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .product_info_text li:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1280px) {
  .dashbord_align {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 42px;
  }
  nav ul li button {
    font-size: 16px;
  }
  .dashbord_text {
    font-size: 36px;
  }
  main {
    padding: 0px 100px;
    margin-top: 100px;
  }

  .upload_btn img {
    display: block;
    width: 30px;
    height: 30px;
  }

  .upload_btn {
    font-size: 16px;
    padding: 10px 15px;
  }
  .image {
    width: 100px;
    height: 100px;
    background-color: #c4c4c4;
    border-radius: 50%;
  }

  .product_info_text {
    display: flex;
    flex-direction: row;
    gap: 30px;
  }

  .product_info_text li:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }
  .edit_area li:nth-child(1) {
    font-size: 18px;
    text-align: center;
  }
}
